.form_control{

}
.error input,
.error textarea
{
    border: 2px solid #720b0b;
}
.error span{
    color: #720b0b;
}
.form_summary_error{
    border: 2px solid #720b0b;
    padding: 5px;
    color: #720b0b;
}