.header {
    grid-area: h;
    background-color: #3d6969;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    padding: 20px;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo h2{

    color: aliceblue;
    padding: 0 20px;
}
.header_logo img {
    width: 30px;
}
.auth_block a{
    color: white;
    text-decoration: none;
}
.auth_block a:hover{
    color: burlywood;
}