.wrapper h4{
    width: 100%;
    text-align: center;
    color: antiquewhite;
}
.friend_image{
    background-color: gold;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    margin-bottom: 10px;
}
.wrapper_bottom{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    text-align: center;
}
.wrapper_bottom_firend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
}